*{
    margin: 0;
}

body{
    background-image: url(/background.jpg);
    color: white;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(255, 115, 0, 0.548);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #ffb347;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #FF5F1F;
}

a{
    text-decoration: none;
}

#brand{
    color: #FFFAE4;
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
    width: 10.5rem;
}

#bar{
    background-color: rgb(255, 50, 50);
    width: 100%;
    height: 2.8rem;
}

#profile{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
}

#order-now{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 6.3rem;
    top: 0.8rem;
}

#dine{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 13.6rem;
    top: 0.8rem;
}

#order-now::after, #dine::after, #profile::after{
    content: "";
    border-bottom: 2px solid white;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
}

#order-now:hover::after, #dine:hover::after, #profile:hover::after{
    transform: scale(1, 1);
}



#signup{
    position: absolute;
    top: 1rem;
}

#form{
    background-color: #000;
    Opacity:0.9;
    border-radius: 1rem;
    color: #fff;
    height: 30rem;
    width: 50rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6rem;
    padding-top: 1rem;
    box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.5);
}

#form::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 47, 47);
    width: 134.159px;
    height: 1.7px;
    top: 60px;
    left: 41.5%;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

#form:hover::after{
    transform: scaleX(1);
}


input.under{
    border: none;
    outline: none;
    padding-top: 10px;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgb(255, 145, 0);
    position: absolute;
    width: 12rem;
    transition: ease-out 0.6s;
}

input.under:focus{
    border: none;
    outline: none;
    padding-top: 10px;
    background: transparent;
    color: rgb(255, 145, 0);
    border-bottom: 1px solid rgb(255, 255, 255);
    position: absolute;
    width: 12rem;
}

select{
    background-color: #ff7200;
    color: white;
    border-radius: 5px;
    outline: none;
}

label{
    font-size: 1rem;
}

#fname{
    position: relative;
    left: -4rem;
}

#fname-i{
    position: relative;
    left: -4rem;
}

#lname{
    position: relative;
    right: -3.3rem;
}

#lname-i{
    position: relative;
    right: -3.3rem;
}

#age{
    position: relative;
    left: -4rem;
}

#age-i{
    position: relative;
    left: -0.45rem;
}

#gender{
    position: relative;
    right: -6.9rem;
}

#gen{
    position: relative;
    height: 1.4rem;
    width: 12.3rem;
    right: -8.23rem;
}

#mail{
    position: relative;
    left: -4rem;
}

#mail-i{
    position: relative;
    left: -2.55rem;
}

#mobile{
    position: relative;
    left: 4.8rem;
}

#mobile-i{
    position: relative;
    right: -6.4rem;
}

#flat{
    position: relative;
    left: -4rem;
}

#flat-i{
    position: relative;
    left: -2.5rem;
}

#city{
    position: relative;
    left: 4.85rem;
}

#city-i{
    position: relative;
    right: -7.93rem;
}

#pincode{
    position: relative;
    left: -4rem;
}

#pincode-i{
    position: relative;
    left: -2.65rem;
}

#state{
    position: relative;
    left: 4.7rem;
}

#state-i{
    position: relative;
    right: -7.366rem;
    height: 1.3rem;
    width: 12.3rem;
}

#password{
    position: relative;
    left: 8rem
}

#password-i{
    position: relative;
    left: 12.65rem
}

#conf-pass{
    position: relative;
    top: 1rem;
    left: 8rem;
}

#conf-pass-i{
    position: relative;
    max-width: 100%;
    top: 1rem;
    right: -8rem;
}

#submit{
    position: relative;
    width: 4rem;
    top: 2rem;
}

#end{
    position: relative;
    top: 2rem;
}

#end a{
    color: rgb(255, 136, 0);
}

#end a::after{
    content: "";
    left: 58.5%;
    border-bottom: 1.5px solid rgb(255, 136, 0);
    position: absolute;
    width: 4rem;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
}

#end a:hover::after{
    transform: scale(1, 1);
    
}

#submit{
    width: 5rem;
    padding: 0.5rem 0;
    background-color: #ff7200;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 0 10px rgb(255, 136, 0);
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

#submit:hover, #submit:focus, #submit:active{
    box-shadow: 0 0 20px rgb(255, 136, 0);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.box-container{
    position: absolute;
    background-color: rgb(36, 36, 36);
    bottom: -36rem;
    left: 0;
    width: 100%;
    opacity: 0.95;
    height: auto;
    padding-bottom: 2rem;
}

.info{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2rem;
    border-top: 2px solid rgb(255, 102, 0);
}

.about{
    width: 15rem;
    position: relative;
    left: 6rem;
    top: 1rem;
}

.abt-cont{
    padding-top: 1rem;
    line-height: 2rem;
    word-spacing: 0.5rem;
}

.quick{
    position: absolute;
    right: 8rem;
    top: 1rem;
}

.qui-cont a{
    padding-top: 1rem;
    line-height: 3rem;
    position: relative;
    left: 15%;
    color: rgb(255, 131, 49);
    transition: 0.5s all;
}

.qui-cont a:hover{
    color: rgb(255, 46, 46);
}

.branch{
    position: relative;
    left: 25%;
    top: 1rem;
}

.br-cont{
    line-height: 3rem;
    position: relative;
    left: 25%;
}

.foot-hd{
    padding-bottom: 2rem;
}

.copyright{
    padding-top: 2rem;
}

.fol-box a{
    color: #FFA500;
}
